In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"Days":["Monday","Tuesday","Wednesday","Thursday","Friday"],"item1":[3,8,11,13,2],"item2":[8,6,3,9,2],"item3":[3,5,9,8,7]})
df

        Days  item1  item2  item3
0     Monday      3      8      3
1    Tuesday      8      6      5
2  Wednesday     11      3      9
3   Thursday     13      9      8
4     Friday      2      2      7

In [3]:
np.random.seed(seed=0)
items = np.random.randint(30,size=(5,3))
items

array([[12, 15, 21],
       [ 0,  3, 27],
       [ 3,  7,  9],
       [19, 21, 18],
       [ 4, 23,  6]], dtype=int32)

In [4]:
df_items = pd.DataFrame(items,
             index=["Monday","Tuesday","Wednesday","Thursday","Friday"],
             columns=["Item1 Quantity","Item2 Quantity","Item3 Quantity"])
df_items

           Item1 Quantity  Item2 Quantity  Item3 Quantity
Monday                 12              15              21
Tuesday                 0               3              27
Wednesday               3               7               9
Thursday               19              21              18
Friday                  4              23               6

In [5]:
items_price = np.array([21,29,13]).reshape(1,3)
items_price = pd.DataFrame(items_price,index=["Item Price"],
                           columns=["Item1","Item2","Item3"])
items_price

            Item1  Item2  Item3
Item Price     21     29     13

In [6]:
items_price.shape,df_items.T.shape

((1, 3), (3, 5))

In [7]:
t = df_items.T

In [10]:
Total_price = items_price.values.dot(t)
Total_price

array([[ 960,  438,  383, 1242,  829]])

In [11]:
df_items["Total Price"] = Total_price.T
df_items

           Item1 Quantity  Item2 Quantity  Item3 Quantity  Total Price
Monday                 12              15              21          960
Tuesday                 0               3              27          438
Wednesday               3               7               9          383
Thursday               19              21              18         1242
Friday                  4              23               6          829